body{
    background-color: #011c38;
}

/* h1 */
#instruction{
    font-family: 'Press Start 2P', cursive;
    color:#f9efb3;
    line-height: 1.5em;
}

#container{
    text-align: center;
    margin-top: 100px;
}

#square-container{
    display: flex;
    flex-wrap: wrap;
    width: 490px;
    margin: 50px auto;
}

.square{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin-top: 50px;
}

#square1{
    background-color: #017501;
    margin-right: 50px;
}
#square2{
    background-color: #fe0000;
}
#square3{
    background-color: #fdfe00;
    margin-right: 50px;
}
#square4{
    background-color: #0100ff;
}

/* Responsive */
@media only screen and (max-width: 600px) {

    #square-container{
        width: 380px;
    }
    .square{
        width: 150px;
        height: 150px;
        margin-top: 25px;
    }
    #square1{
        margin-right: 25px;
    }
    #square3{
        margin-right: 25px;
    }
}